$primary-dark: #163d49;
$primary-light: #f7ede2;
$primary-bright: #f29383;
$secondary-dark: #0e7979;
$secondary-light: #bab0aa;

$highlight: #f6bd60;

$font-family-sans-serif: "Outfit", -apple-system, BlinkMacSystemFont, Roboto;
$font-family-serif: "Lora", serif, BlinkMacSystemFont, Garamond;